
@import url('https://fonts.googleapis.com/css?family=Cantarell&family=Fredoka&display=swap');

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cantarell', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #00293c;
    transition: all 1s;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;

    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    transition: background 1s;
}

.topnav img {
    float: left;
    display: block;
    width: 75px;
    margin-top:7px;
    
   
}

.topnav a:hover {
    background-color: #f1f3ce;
  
    color: #00293c;

    transition: all 1s;
}

.topnav a.active {
    background-color: #f62a00;
  
    color: whitesmoke;
}


@media screen and (max-width: 920px) {
    .topnav a:not(:first-child) {
        display: none;
        transition: all 1s;
    }

    .topnav a.icon {
        float: right;
        display: block;
        transition: all 1s;
        background-color: #00293c;
        color: whitesmoke;
    }

    .topnav.responsive {
        position: relative;
        transition: all 1s;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        transition: all 1s;
        background-color: #00293c;
        color: whitesmoke;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        transition: all 1s;
    }
    .opac p{
        width:90%;
        margin:1% auto;
        padding:15px;
    }
}
@media screen and (max-width: 768px) {
    .opac {
       
        width: 100%;
        padding: 0;
    }

    .opac p {
      
        width: 100%;
        margin: 5px auto;
        padding: 20px 15px;
     
    }
}

.footer {
    background-color: #00293c;

    color: whitesmoke;
    padding: 10px 0;
}

.footer p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5;
}


.myArrow {
    color: #f62a00;
   
    font-size: 3em;
    position: fixed;
    bottom: 17%;
    right: 1%;
    z-index: 99;
    transition: 1s transform;
    animation: myPulse 3s infinite;
}


@keyframes myPulse {
    0% {
        transform: scale(0.95);
        color: #f62a00;
        transition: 1s transform;
    }

    50% {
        transform: scale(1.2);
        color: #00293c;
        transition: 1s transform;
    }

    100% {
        transform: scale(0.9);
        color: #f62a00;
        transition: 1s transform;
    }
}



.image {
    width: 100%;
    height: 110vh;
    position: relative;
    transition: all 1s;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}

.text {
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
    background-color: #f1f3ce;

    opacity: 0.9;
    position: relative;
  
    top: -300px;

}

.text h1,
.nature h1,
.info h1,
.contacts h3 {
    font-weight: bold;
    font-size: 1.7em;
    color: #00293c;

    text-align: center;
}

.text p,
.info p {
    text-align: justify;
    font-size: 1.5em;
    color: #00293c;
}

.fix {
    position: relative;
    width: 100%;
    height: 300px;
    top: -200px;
 
    background-image: url("../images/home_banner.jpg");

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
   
    background-size: cover;
}

.motive {
    width: 100%;
    position: relative;
    top: -200px;
}

.motive h1 {
    text-align: center;
    color: #00293c;
}

.opac {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
   
    justify-content: space-around;
}

.opac p {
    border-left: 7px solid #f62a00;

    line-height: 1.3;
    color: whitesmoke;
    font-size: 1.5em;
    padding: 15px;
    width: 30%;
    background-image: linear-gradient(to right bottom, #00293c, rgba(0, 41, 60, 0.9));
    transition: transform 1s;
}

.opac p:hover {
    transform: scale(1.05, 1.05);
    transition: transform 1s;
}


.info {
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
}

.info a {
    text-decoration: none;
    color: #f62a00;

    font-weight: bold;
    font-size: 1.3em;
    transition: color 0.5s;
}

.info a:hover {
    color: #00293c;

    transition: color 0.5s;
}

.efecte {

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
}

.efecte iframe {
    width: 90%;
    max-width: 530px;
    margin: 10px auto;
    filter: drop-shadow(10px 10px 15px rgb(87, 86, 86));
}


@media screen and (min-width: 668px) {
    .efecte {
        flex-flow: row wrap;
    }

    .efecte iframe {
        width: 47%;
    }

    .opac{
        flex-flow: row;
    }
}


.gallery {
    display: flex;
    flex-flow: column wrap;

    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.gallery img {
    width: 95%;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    margin: 11px;
    transition: all 1s;
}

.gallery img:hover {
    filter: contrast(120%);
    transform: scale(1.05, 1.05);
    transition: all 1s;
}


@media screen and (min-width: 668px) {
    .gallery {
        flex-flow: row wrap;
        justify-content: space-around;
        width: 90%;
    }

    .gallery img {
        width: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .gallery {
        flex-flow: row wrap;
    }

    .gallery img {
        width: 30%;
    }
}


.contacts {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;

    justify-content: space-around;
}

.myForm,
.myMap {
    width: 90%;
    margin: 10px auto;
}

.myMap iframe {
    width: 100%;
    height: 400px;
}

.myForm label {
    display: block;
    width: 100%;
    font-size: 1.3em;
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
    color: #00293c;
    margin-bottom: 10px;
}

.myForm input[type="text"],
.myForm input[type="email"],
.myForm textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 1.3em;
    font-family: 'Cantarell', sans-serif;
    margin: 7px 0 15px 0;
    border: none;
    outline: none;
    background-color: #f62a00;

    color: whitesmoke;
    border-radius: 7px;
}

.myForm textarea {
    height: 100px;
    resize: none;
}

.myForm input[type="submit"] {
    width: 100%;
    padding: 20px 0;
    text-transform: uppercase;
    background-color: #00293c;

    margin: 10px 0;
    color: whitesmoke;
    font-weight: bold;
    transition: background 1s;
    border-radius: 7px;
    border: none;
    font-size: 1.1em;
}

.myForm input[type="submit"]:hover {
    background-color: #f1f3ce;

    color: #00293c;
    transition: background 1s;
}

@media screen and (min-width: 990px) {
    .contacts {
        flex-flow: row wrap;
        padding: 30px 10px;
    }

    .myForm,
    .myMap {
        width: 40%;
        margin: 0;
    }
}